
    body {
      background-image: url("https://wallpapercave.com/wp/wp5342493.jpg"); background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover; }


b {
   color: blue; 
}